.information {
  margin: 50px 0px;
}
.information .container {
  padding: 60px;
  /* depth2 */
  box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
}
.information .container h2 {
  font-size: 32px;
  font-weight: 700;
}
.information .container h2 span {
  color: #EF7C00;
}
.information .container p {
  color: #2C2D2E;
  font-size: 15px;
  width: 50%;
  padding: 15px 0px;
}
.information .container form {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: wrap;
}
.information .container form .input {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.information .container form .name, .information .container form .tell {
  border-radius: 3px;
  width: 300px;
  background: #fff;
  box-shadow: 0px 0px 19px -5px rgba(34, 60, 80, 0.6);
}
.information .container form .name input, .information .container form .tell input {
  border: none;
  padding: 10px 15px;
  outline: none;
  border-left: 1px solid #919399;
}
.information .container form .name i, .information .container form .tell i {
  padding: 3px 10px;
}
.information .container form button {
  max-width: 250px;
}
.information .container form textarea {
  width: 600px;
  box-shadow: 0px 0px 19px -5px rgba(34, 60, 80, 0.6);
  border: none;
}
@media (max-width: 820px) {
  .information .container h2 {
    font-size: 24px;
  }
  .information .container p {
    width: 100%;
  }
  .information .container form {
    width: 100%;
  }
  .information .container form .name, .information .container form .tell {
    width: 80%;
  }
  .information .container form textarea {
    width: 80%;
  }
}
@media (max-width: 540px) {
  .information .container {
    padding: 20px;
  }
  .information .container h2 {
    font-size: 22px;
  }
  .information .container form .name, .information .container form .tell {
    width: 100%;
  }
  .information .container form textarea {
    width: 100%;
  }
}