.news .title {
  color: #2c2d2e;
  text-align: center;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 40px;
}
@media only screen and (max-width: 768px) {
  .news .title {
    font-size: 25px;
  }
}

.news {
  margin-top: 100px;
}
.news .title {
  text-align: center;
  margin-bottom: 25px;
}
.news .card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1146px) {
  .news .card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 25px;
  }
}
@media only screen and (max-width: 748px) {
  .news .card_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 25px;
  }
}
.news .card_wrapper .card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
@media only screen and (max-width: 400px) {
  .news .card_wrapper .card {
    width: 100%;
  }
}
.news .card_wrapper .card .data {
  margin-top: 25px;
  color: var(--color-text-secondary, #919399);
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 13px;
}
@media only screen and (max-width: 400px) {
  .news .card_wrapper .card .data {
    width: 100%;
  }
}
.news .card_wrapper .card .info {
  margin-top: 15px;
  color: var(--text-color-text, #2c2d2e);
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
}
@media only screen and (max-width: 400px) {
  .news .card_wrapper .card .info {
    width: 100%;
  }
}
.news .see_all {
  margin-top: 45px;
  text-align: center;
}
.news .see_all .see_btn {
  background: transparent;
  border: none;
  color: var(--color-primary, #ef7c00);
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat";
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #ef7c00;
  padding: 10px 20px;
  transition: 0.3s ease-out;
  text-align: center;
}
.news .see_all .see_btn:hover {
  background: #ef7c00;
  color: #fff;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}